.MainContainerAuth{
    height: 90%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

.ContainerCenter{
    /*width: 100%;*/
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.inputAuth{
   border: 1px solid var(--primary-color);
   width: 400px;
}

@media screen and (max-width: 815px) {
    .ContainerAuth {
      overflow-x: hidden;
      width: 100%;
    }

    .inputAuth{
        width: 100%;
    }
  }