.imgAdvantages{
     height: 30%;
 }
 
 .containerFlexBox{
     margin-top: 30px;
 }
 
 @media (max-width: 900px) {
     .flexboxAlign{
         width: 100%;
         flex-direction: column;
     }
 
     .itemDiv{
         margin-top: 30px;
     }
     
 }