:root {
  --primary-color: #37CCEB;
  --size-xl: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.display-flex-center {
  display: flex;
  justify-content: center;
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.padding-xl {
  padding: var(--size-xl);
}

.card-number {
  font-size: 100px;
}