:root {
  --primary-color: #37CCEB;
  --light-grey: #f5f5f5;
  --grey: #d1d1d1;
  --dark-grey: #313131;

  --size-xs: 15px; /* Footer */
  --size-s: 20px; /* Base text size */
  --size-m: 26px; /* Sections subtitle */
  --size-l: 36px; /* Secondary heading - sections heading */
  --size-xl: 64px; /* Main heading */
  --size-xxl: 100px; /* Numbers - SelectionProcess */
  --size-xxxl: 130px; /* Main title - BS */
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  outline: none;
}

a:hover {
  color: inherit;
}

footer {
  background-color: var(--light-grey);
}

/* Button */
button {
  background-color: var(--primary-color);
  color: white;
  padding: 1.1rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: .2rem;
  font-weight: 600;
  font-size: var(--size-s);
  transition: .3s;
}

.not-selected {
  background-color: var(--grey);
}

/* Input */
input {
  padding: var(--size-s);
  font-size: var(--size-xs);
  border: 1px solid var(--light-grey);
  border-radius: 4px;
}

input:focus {
  border: 2px solid var(--primary-color);
}

/* react-select Select */
.css-yk16xz-control {
  border-color: var(--light-grey) !important;
  box-shadow: 0px 0px 0px var(--light-grey) !important;
  padding: var(--size-xs);
}

.css-1pahdxg-control {
  border: 2px solid var(--primary-color) !important;
  box-shadow: 0px 0px 0px var(--grey) !important;
  padding: var(--size-xs);
}

button:hover {
  transform: scale(1.1);
}

/* Video */
video {
  width: 100%;
}

/* Fonts size */
.font-size-xs {
  font-size: var(--size-xs);
}

.font-size-s {
  font-size: var(--size-s);
}

.font-size-m {
  font-size: var(--size-m);
}

.font-size-l {
  font-size: var(--size-l);
}

.font-size-xl {
  font-size: var(--size-xl);
}

.font-size-xxl {
  font-size: var(--size-xxl);
}

.font-size-xxxl {
  font-size: var(--size-xxxl);
}

/* Font weight */
.font-semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

/* Padding */
.padding-s {
  padding: var(--size-s);
}

.padding-xl {
  padding: var(--size-xl);
}

.padding-xxl {
  padding: var(--size-xxl);
}

.padding-s-xxl {
  padding: var(--size-xs) var(--size-xxl);
}

.padding-xxl-xl {
  padding: var(--size-xxl) var(--size-xl);
}

.padding-top-xxl {
  padding-top: var(--size-xxl);
}

/* Margin */
.margin-auto {
  margin: auto;
}

.margin-s-xxl {
  margin: var(--size-xs) var(--size-xxl);
}

.margin-top-xs {
  margin-top: var(--size-xs);
}

.margin-top-s {
  margin-top: var(--size-s);
}

.margin-top-m {
  margin-top: var(--size-m);
}

.margin-top-l {
  margin-top: var(--size-l);
}

.margin-top-xl {
  margin-top: var(--size-xl);
}

.margin-top-xxl {
  margin-top: var(--size-xxl);
}

.margin-bottom-s {
  margin-bottom: var(--size-s);
}

.margin-bottom-xxl {
  margin-bottom: var(--size-xxl);
}

/* Width */
.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.width-70 {
  width: 70%;
}

.width-90 {
  width: 90%;
}

/* Flexbox */
.display-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.display-flex-center {
  display: flex;
  justify-content: center;
}

.display-flex-between {
  display: flex;
  justify-content: space-between;
}

.display-flex-around {
  display: flex;
  justify-content: space-around;
}

/* Display */
.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-blo;
}

.flex-direction-column {
  flex-direction: column;
}

.vertical-middle {
  display: flex;
  vertical-align: middle;
}

/* Border */
.border-radius-s {
  border-radius: var(--size-xs);
}

/* Text */
.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

/* Overflow */
.overflow-hidden {
  overflow: hidden;
}

/* Others */
.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-light-grey {
  background-color: var(--light-grey);
}

.cursor-pointer {
  cursor: pointer;
}

.debug {
  border: 1px solid red;
}